@import 'tailwindcss';
@plugin "daisyui";

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url('/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
